# basic link configuration for 
[Match]
Name=enp1s0f0np0

#Apply Settings here that are shared among VLANS
[Link]
#MTUBytes=1500
ActivationPolicy=up
RequiredForOnline=no
Multicast=true
#AllMulticast=true
#TODO: test if uncommenting the entry below break connectivity, if not this should be safer, as we only need the ISP NEtwork on VLAN
#Unmanaged=yes

[Network]
VLAN=wan
# TODO disable next line after testing
IPForward=yes
# For Diagnostics, we may run a DHCPv4 Client here, make sure to disable it 
DHCP=ipv4
DHCPServer=no
LinkLocalAddressing=ipv6
DNSSEC=allow-downgrade
# receive info from ISP Switch / router hardware, could be interresting
LLDP=true  
EmitLLDP=true
# Fallback Address, uncomment / edit to suit your network used during initial testing / bringup of the router in your existing network
# Address=192.168.1.10
